<configuration>
  <system.webServer>
    <handlers>
      <add name="pythonHandler" path="*" verb="*" modules="FastCgiModule" 
           scriptProcessor="D:\home\Python310\python.exe|D:\home\site\wwwroot\app.py" 
           resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>
ration>
